h1,h2,h3{
			color:red;
			background-color:yellow;
			text-align:center;
}

.bluep{
			color:white;	
			background-color:blue;
			text-align:left;
}

.upper{
			text-transform:uppercase;
}

#greenp{
			color:white;
			background-color:green;
			text-align:right;
}


h4.test {
			background-color:red;
}